.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: blueviolet;
}

.dialog {
    padding: 5px;
}

.messages {
    padding: 10px;
}

.messages img {
    width: 50px;
}

.message {
    padding: 5px;
}

.messageAvatar {

}